.login-form
{
    text-align: left;
    margin: 10% 15%;
    width: 35%;
    border-style: groove;
}

.input-form
{
    padding: 2.5% 0%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-form-text
{
    margin-left: 10%; 
}

button:hover
{
    color: blue;
}